venv
watermelon.config
data/*
mastermelon/__pycache__
mastermelon/utils/__pycache__
logs/*
testing_code.ipynb
.ipynb_checkpoints/testing_code-checkpoint.ipynb
.ipynb_checkpoints/
.ipynb_checkpoints*
.conda